Repository rambler-digital-solutions/reflexio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: fix some lint errors
  package.json
  packages/core-v1/lib/Bite.ts
  packages/core-v1/lib/System.ts
  packages/core-v1/lib/createMiddleware.ts
  packages/core-v1/lib/createReducer.ts
  packages/core-v1/lib/processor/createProcessorInstance.ts
  packages/core-v1/lib/processor/lifecycle/Update.ts
  packages/core-v1/lib/processor/matchBiteName.ts
  packages/core-v1/lib/processor/matchInitTrigger.ts
  packages/core-v1/lib/processor/matchUpdateTrigger.ts
  packages/core-v1/lib/processor/opts/save.ts
  packages/core-v1/lib/processor/opts/triggerOnly.ts
  packages/core-v1/lib/processor/opts/wait.ts
  packages/core-v1/lib/types.ts
  packages/ssr/lib/core/app.ts
  packages/ssr/lib/core/effect-collection.ts
  packages/ssr/lib/render.tsx
  packages/ssr/lib/slice/script.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: remove ssr draft
  lerna.json
  package.json
  packages/ssr/index.ts
  packages/ssr/lib/core/app.ts
  packages/ssr/lib/core/effect-collection.ts
  packages/ssr/lib/core/effect.ts
  packages/ssr/lib/hooks/useServerEffect.ts
  packages/ssr/lib/provider.tsx
  packages/ssr/lib/render.tsx
  packages/ssr/lib/slice/bite.ts
  packages/ssr/lib/slice/script.ts
  packages/ssr/lib/slice/slice.ts
  packages/ssr/lib/utils.ts
  packages/ssr/tsconfig.json
Due: prettier --write, eslint --fix

chore: temporary disable rules
  .eslintrc.json
Due: none

chore: remove pages from ci
  .github/workflows/release.yml
Due: none

refactor: some tweaks
  packages/core-v1/index.ts
  packages/core-v1/lib/Script.ts
  packages/core-v1/lib/createReducer.ts
  packages/core-v1/lib/processor/lifecycle/Update.ts
  packages/core-v1/lib/types.ts
  packages/core-v1/lib/utils/index.ts
  packages/react-v1/index.ts
  packages/react-v1/lib/ReflexProvider.tsx
  packages/react-v1/lib/context.ts
  packages/react-v1/lib/getTriggerAndStatus.ts
  packages/react-v1/lib/matchActionType.ts
  packages/react-v1/lib/useReflector.ts
  tsconfig.json
Due: prettier --write, eslint --fix

chore: fix errors
  .github/workflows/test.yml
  .size-limit.json
  jest.config.js
  packages/core-v1/index.ts
  packages/core-v1/lib/System.ts
  packages/core-v1/lib/createMiddleware.ts
  packages/core-v1/lib/processor/opts/hook.ts
  packages/core-v1/lib/processor/opts/save.ts
  packages/core-v1/lib/processor/opts/trigger.ts
  packages/core-v1/lib/processor/opts/triggerOnly.ts
  packages/core-v1/lib/processor/opts/wait.ts
  packages/react-v1/lib/context.ts
  packages/react-v1/lib/useReflector.ts
  packages/react-v1/lib/useTrigger.ts
  packages/react-v1/package.json
  playground/src/_redux/effectiveBite.ts
  playground/src/_redux/test-core.ts
  playground/src/compose/scripts/SetContent.script.ts
  playground/src/compose/scripts/SubmitLetter.script.ts
  playground/webpack/webpack.base.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: fix deps
  package.json
  playground/package.json
  playground/yarn.lock
  yarn.lock
Due: none

chore(release): publish
  packages/core-v1/CHANGELOG.md
  packages/core-v1/package.json
  packages/react-v1/CHANGELOG.md
  packages/react-v1/package.json
Due: prettier --write

impl AfterEffects class
  packages/v1-core/lib/AfterEffects.ts
  packages/v1-core/lib/createMiddleware.ts
  packages/v1-core/lib/interfaces/AfterEffectsScript.ts
  packages/v1-core/lib/processor/createProcessorInstance.ts
  packages/v1-core/lib/processor/opts/drop.ts
  packages/v1-core/lib/types.ts
Due: prettier --write, eslint --fix

integrate AF
  packages/playground/src/_redux/index.ts
  packages/v1-core/lib/AfterEffects.ts
  packages/v1-core/lib/System.ts
  packages/v1-core/lib/configureStore.ts
  packages/v1-core/lib/createMiddleware.ts
  packages/v1-core/lib/interfaces/EffectiveScript.ts
  packages/v1-core/lib/processor/opts/drop.ts
  packages/v1-core/lib/processor/opts/setState.ts
  packages/v1-core/lib/processor/opts/setStateNoEffect.ts
  packages/v1-core/lib/processor/opts/triggerOnly.ts
  packages/v1-core/lib/processor/prepareInstanceOpts.ts
Due: prettier --write, eslint --fix

finish af
  packages/v1-core/lib/createMiddleware.ts
  packages/v1-core/lib/processor/lifecycle/AfterEffects.ts
  packages/v1-core/lib/processor/matchUpdateTrigger.ts
Due: prettier --write, eslint --fix

done af
  packages/playground/src/compose/scripts/PreventClose.script.ts
  packages/playground/src/compose/scripts/SetContent.script.ts
  packages/playground/src/compose/scripts/SubmitLetter.script.ts
  packages/playground/src/notification/scripts/Notification.script.ts
  packages/playground/src/popup/scripts/OpenPopup.script.ts
  packages/v1-core/lib/AfterEffects.ts
  packages/v1-core/lib/createMiddleware.ts
  packages/v1-core/lib/processor/lifecycle/AfterEffects.ts
  packages/v1-core/lib/scripts/EffectiveScript.ts
  packages/v1-core/lib/scripts/Script.ts
  packages/v1-core/lib/types.ts
Due: prettier --write, eslint --fix

check
  packages/playground/src/compose/scripts/SetContent.script.ts
Due: prettier --write, eslint --fix

remove logs
  packages/playground/src/compose/reducers/closeWindow.reducer.ts
  packages/playground/src/compose/scripts/SetContent.script.ts
  packages/v1-core/lib/AfterEffects.ts
  packages/v1-core/package.json
Due: prettier --write, eslint --fix

feature afterEffects
  .husky/pre-commit
  packages/core-v1/index.ts
  packages/core-v1/lib/AfterEffects.ts
  packages/core-v1/lib/System.ts
  packages/core-v1/lib/configureRoot.ts
  packages/core-v1/lib/createMiddleware.ts
  packages/core-v1/lib/interfaces/EffectiveScript.ts
  packages/core-v1/lib/processor/createProcessorInstance.ts
  packages/core-v1/lib/processor/lifecycle/AfterEffects.ts
  packages/core-v1/lib/processor/opts/drop.ts
  packages/core-v1/lib/processor/opts/setState.ts
  packages/core-v1/lib/processor/opts/setStateNoEffect.ts
  packages/core-v1/lib/processor/prepareInstanceOpts.ts
  packages/core-v1/lib/types.ts
  playground/src/_redux/index.ts
  playground/src/compose/scripts/PreventClose.script.ts
  playground/src/compose/scripts/SetContent.script.ts
Due: prettier --write, eslint --fix

fix build
  packages/core-v1/package.json
  packages/react-v1/package.json
Due: none

impl no effect
  packages/core-v1/lib/AfterEffects.ts
  packages/core-v1/lib/createMiddleware.ts
  packages/core-v1/lib/processor/opts/setStateNoEffect.ts
  playground/src/compose/scripts/SetContent.script.ts
Due: prettier --write, eslint --fix

rm logs
  packages/core-v1/lib/AfterEffects.ts
Due: prettier --write, eslint --fix

feat af timeout
  packages/core-v1/index.ts
  packages/core-v1/lib/AfterEffects.ts
  packages/core-v1/lib/System.ts
  packages/core-v1/lib/types.ts
  packages/core-v1/package.json
  packages/react-v1/package.json
  playground/src/compose/scripts/SetContent.script.ts
Due: prettier --write, eslint --fix

docs: update documentation
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,tsx}
